:root {
    --main-radius: 8px;
    --main-padding: 5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.2fr 5fr 1.2fr;
    grid-template-rows: 0.5fr 0.5fr 5fr 0.5fr;
    grid-template-areas: "header header header" "sidebar navigation ads" "sidebar main ads" "footer footer footer";
    grid-gap: 1.25rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

header {
    background: white;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: solid;
    border-color: red;
}

.main {
    background: white;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: solid;
    border-color: red;
}

.navigation {
    background: white;
    grid-area: navigation;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: solid;
    border-color: red;
}

.sidebar {
    background: white;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: solid;
    border-color: red;
}

.ads {
    background: white;
    grid-area: ads;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: solid;
    border-color: red;
}

.footer {
    background: white;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: solid;
    border-color: red;
}

@media only screen and (max-width:750px) {
    .container {
        grid-template-columns: 1.5fr 5fr;
        grid-template-rows: 0.5fr 0.5fr 7fr 0.5fr;
        grid-template-areas: "header header" "navigation navigation" "sidebar main" "ads footer";
    }
}

@media only screen and (max-width:450px) {
    .container {
        grid-template-columns: 4fr;
        grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "header" "navigation" "main" "sidebar" "ads" "footer";
    }
}